html, body, p, div, a, li, ul, img {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  background-image: -webkit-linear-gradient(top, rgb(119, 119, 119) 0%, rgb(100, 100, 100) 6%, rgb(51, 51, 51) 94%, rgb(34, 34, 34) 100%);
  background-image:    -moz-linear-gradient(top, rgb(119, 119, 119) 0%, rgb(100, 100, 100) 6%, rgb(51, 51, 51) 94%, rgb(34, 34, 34) 100%);
  background-image:      -o-linear-gradient(top, rgb(119, 119, 119) 0%, rgb(100, 100, 100) 6%, rgb(51, 51, 51) 94%, rgb(34, 34, 34) 100%);
  background-image:         linear-gradient(to bottom, rgb(119, 119, 119) 0%, rgb(100, 100, 100) 6%, rgb(51, 51, 51) 94%, rgb(34, 34, 34) 100%);
  filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#777777,endColorStr=#222222);
}

p {
  margin-bottom: 15px;
  text-indent: 24px;
  line-height: 150%;
}

ol {
  font-size: 12px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(119, 0, 0);
}

a:hover {
  text-decoration: underline;
}

code {
  border-radius: 3px;
  background-color: #eee;
  border: 1px solid #888;
  padding: 2px 5px;
  margin: 0px 2px;
}

img{
  max-width: 720px;
  height: auto;
}

blockquote{
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 10px 10px 1px 10px;
  background-color: #eee;
  border-left: #aaa 5px solid;
}

table,thead,tbody,tr{
  width: 480px;
}


th,td {
  padding: 0px 7px;
}

th:first-child, td:first-child{
  width: 30%;
}

.alert{
  margin: 5px auto;
  padding: 5px;
  width: 960px;
  text-align: center;
  font-weight: bold;
  color: rgb(34,34,34);
  border: 1px solid rgb(170,170,170);
  background-color: rgb(210,210,0);
  display: none;
}

.container {
  margin: 0px auto;
  width: 980px;
}

.toplogo-container {
  height: 320px;
  position: relative;
  overflow: hidden;
  -webkit-animation: topbanner-kfs 0.6s linear 0.9s 1 forwards;
     -moz-animation: topbanner-kfs 0.6s linear 0.9s 1 forwards;
          animation: topbanner-kfs 0.6s linear 0.9s 1 forwards;
}

.topbanner {
  width: 100%;
  height: 320px;
  top: 0px;
  left: 0px;
  background-color: rgb(125, 125, 125);
  background-image: -webkit-linear-gradient(top, rgb(119, 119, 119) 0%, rgb(100, 100, 100) 6%, rgb(51, 51, 51) 94%, rgb(34, 34, 34) 100%);
  background-image:    -moz-linear-gradient(top, rgb(119, 119, 119) 0%, rgb(100, 100, 100) 6%, rgb(51, 51, 51) 94%, rgb(34, 34, 34) 100%);
  background-image:      -o-linear-gradient(top, rgb(119, 119, 119) 0%, rgb(100, 100, 100) 6%, rgb(51, 51, 51) 94%, rgb(34, 34, 34) 100%);
  background-image:         linear-gradient(to bottom, rgb(119, 119, 119) 0%, rgb(100, 100, 100) 6%, rgb(51, 51, 51) 94%, rgb(34, 34, 34) 100%);
  filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#777777,endColorStr=#222222);

  color: rgb(0, 0, 0);
  -webkit-animation: topbanner-kfs 0.6s linear 0.9s 1 forwards;
     -moz-animation: topbanner-kfs 0.6s linear 0.9s 1 forwards;
          animation: topbanner-kfs 0.6s linear 0.9s 1 forwards;
}

.toplogo {
  position: absolute;
  bottom: 10px;
  right: 340px;
  width: 300px;
  height: 300px;
  -webkit-animation: toplogo-kfs 0.7s linear 0.8s 1 forwards;
     -moz-animation: toplogo-kfs 0.7s linear 0.8s 1 forwards;
          animation: toplogo-kfs 0.7s linear 0.8s 1 forwards;
}

.header {
  font-size: 36px;
  font-family:  "Microsoft YaHei", Arial, Helvetica, sans-serif;
  display: block;
  position: absolute;
  top: 30px;
  left: -720px;
  width: 720px;
  height: 80px;
  color: rgb(221, 221, 221);
  text-shadow: rgb(17, 17, 17) 3px 3px;
  -webkit-animation: header-kfs 0.6s linear 0.9s 1 forwards;
     -moz-animation: header-kfs 0.6s linear 0.9s 1 forwards;
          animation: header-kfs 0.6s linear 0.9s 1 forwards;
}
.footer{
  padding: 20px 0px;
  text-align: center;
  font-size: 12px;
  color: rgb(100, 100, 100);
  text-shadow: rgb(17, 17, 17) .5px .5px;
  background-color: rgb(125, 125, 125);
  background-image: -webkit-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(51, 51, 51) 6%, rgb(34, 34, 34) 94%, rgb(17, 17, 17) 100%);
  background-image:    -moz-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(51, 51, 51) 6%, rgb(34, 34, 34) 94%, rgb(17, 17, 17) 100%);
  background-image:      -o-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(51, 51, 51) 6%, rgb(34, 34, 34) 94%, rgb(17, 17, 17) 100%);
  background-image:         linear-gradient(to bottom, rgb(68, 68, 68) 0%, rgb(51, 51, 51) 6%, rgb(34, 34, 34) 94%, rgb(17, 17, 17) 100%);
}

.footer a{
  color: rgb(100, 100, 100);
}

.navbar{
  background-color: rgb(125, 125, 125);
  background-image: -webkit-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(51, 51, 51) 15%, rgb(34, 34, 34) 85%, rgb(17, 17, 17) 100%);
  background-image:    -moz-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(51, 51, 51) 15%, rgb(34, 34, 34) 85%, rgb(17, 17, 17) 100%);
  background-image:      -o-linear-gradient(top, rgb(68, 68, 68) 0%, rgb(51, 51, 51) 15%, rgb(34, 34, 34) 85%, rgb(17, 17, 17) 100%);
  background-image:         linear-gradient(to bottom, rgb(68, 68, 68) 0%, rgb(51, 51, 51) 15%, rgb(34, 34, 34) 85%, rgb(17, 17, 17) 100%);
  filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#444444,endColorStr=#111111);
}

.navbar ul{
  display: block;
}
.navbar ul li{
  display: inline-block;
}
.navbar ul li a {
  text-align: center;
  width: 176px;
  padding: 5px;
  display: block;
  color: rgb(170, 170, 170);
}
.navbar ul li a:hover {
  color: rgb(204, 204, 204);
  font-weight: bold;
  background-image: -webkit-linear-gradient(top, rgb(51, 51, 51) 0%, rgb(34, 34, 34) 15%, rgb(17, 17, 17) 85%, rgb(0, 0, 0) 100%);
  background-image:    -moz-linear-gradient(top, rgb(51, 51, 51) 0%, rgb(34, 34, 34) 15%, rgb(17, 17, 17) 85%, rgb(0, 0, 0) 100%);
  background-image:      -o-linear-gradient(top, rgb(51, 51, 51) 0%, rgb(34, 34, 34) 15%, rgb(17, 17, 17) 85%, rgb(0, 0, 0) 100%);
  background-image:         linear-gradient(to bottom, rgb(51, 51, 51) 0%, rgb(34, 34, 34) 15%, rgb(17, 17, 17) 85%, rgb(0, 0, 0) 100%);
  filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#333333,endColorStr=#000000);
  text-decoration: none;
}
.content{
  margin: 10px,0px;
  padding: 25px;
  background-image: -webkit-linear-gradient(top, rgb(238, 238, 238) 0%, rgb(221, 221, 221) 15%, rgb(204, 204, 204) 85%, rgb(170, 170, 170) 100%);
  background-image:    -moz-linear-gradient(top, rgb(238, 238, 238) 0%, rgb(221, 221, 221) 15%, rgb(204, 204, 204) 85%, rgb(170, 170, 170) 100%);
  background-image:      -o-linear-gradient(top, rgb(238, 238, 238) 0%, rgb(221, 221, 221) 15%, rgb(204, 204, 204) 85%, rgb(170, 170, 170) 100%);
  background-image:         linear-gradient(to bottom, rgb(238, 238, 238) 0%, rgb(221, 221, 221) 15%, rgb(204, 204, 204) 85%, rgb(170, 170, 170) 100%);
  filter:progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#eeeeee,endColorStr=#aaaaaa);
}

.content ul > li {
  margin: 10px;
  padding-left:20px
}

.content ul > li a{
  margin: -20px;
}


.slogan-container{
  margin: 0px auto;
  padding-bottom: 50px;
  width: 540px
}
.slogan{
  margin: 15px 30px;
  font-size: 28px;
  font-weight: bold;
  color: rgb(68,68,68);
  display: block;
  text-shadow: rgba(34, 34, 34,0.1) 2px 2px;
}
.line2{
  padding-left: 50px;
}

.avatar{
  max-width: 240px;
  height: auto;
  display: inline-block;
}

@media screen and (min-width: 1220px){
  .container{
    width: 1220px;
  }
  .toplogo {
    right: 460px;
  }
  .navbar ul li a {
    width: 224px;
  }
}

@media screen and (min-width: 980px) and (max-width: 1219px){
  .container{
    width: 980px;
  }
  .toplogo {
    right: 340px;
  }
  .navbar ul li a {
    width: 176px;
  }
}

@media screen and (min-width: 720px) and (max-width: 979px){
  .container{
    width: 720px;
  }
  .toplogo {
    right: 210px;
  }
  .navbar ul li a {
    width: 124px;
  }
}

@media screen and (max-width: 719px){
  .container{
    width: 480px;
  }
  .toplogo {
    right: 90px;
  }
  .navbar ul li a {
    width: 76px;
  }
}

@-webkit-keyframes toplogo-kfs {
  0% {
    width: 300px;
    height: 300px;
    -webkit-animation-timing-function: ease-in-out;
  }
  100% {
    right: 10px;
    width: 80px;
    height: 80px;
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes toplogo-kfs {
  0% {
    width: 300px;
    height: 300px;
    -moz-animation-timing-function: ease-in-out;
  }
  100% {
    right: 10px;
    width: 80px;
    height: 80px;
    -moz-animation-timing-function: linear;
  }
}
@keyframes toplogo-kfs {
  0% {
    width: 300px;
    height: 300px;
    animation-timing-function: ease-in-out;
  }
  100% {
    right: 10px;
    width: 80px;
    height: 80px;
    animation-timing-function: linear;
  }
}



@-webkit-keyframes topbanner-kfs {
  0% {
    top: 0px;
    left: 0px;
    height: 320px;
    color: rgb(0, 0, 0);
    -webkit-animation-timing-function: ease-in-out;
  }
  100% {
    top: 0px;
    left: 0px;
    height: 180px;
    color: rgb(0, 0, 0);
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes topbanner-kfs {
  0% {
    top: 0px;
    left: 0px;
    height: 320px;
    color: rgb(0, 0, 0);
    -moz-animation-timing-function: ease-in-out;
  }
  100% {
    top: 0px;
    left: 0px;
    height: 180px;
    color: rgb(0, 0, 0);
    -moz-animation-timing-function: linear;
  }
}
@keyframes topbanner-kfs {
  0% {
    top: 0px;
    left: 0px;
    height: 320px;
    color: rgb(0, 0, 0);
    animation-timing-function: ease-in-out;
  }
  100% {
    top: 0px;
    left: 0px;
    height: 180px;
    color: rgb(0, 0, 0);
    animation-timing-function: linear;
  }
}


@-webkit-keyframes header-kfs {
  0% {
    top: 30px;
    left: -720px;
    -webkit-animation-timing-function: ease-out;
  }
  100% {
    top: 30px;
    left: 30px;
    -webkit-animation-timing-function: linear;
  }
}
@-moz-keyframes header-kfs {
  0% {
    top: 30px;
    left: -720px;
    -moz-animation-timing-function: ease-out;
  }
  100% {
    top: 30px;
    left: 30px;
    -moz-animation-timing-function: linear;
  }
}
@keyframes header-kfs {
  0% {
    top: 30px;
    left: -720px;
    animation-timing-function: ease-out;
  }
  100% {
    top: 30px;
    left: 30px;
    animation-timing-function: linear;
  }
}

